<div class="form-group">
<h1>New message</h1>

<form method="post" action="/newmessage">
<h2>Firstname</h2> <input type="text" name="firstname"><br>
<h2>Lastname</h2><input type="text" name="lastname"><br>
<h2>Age</h2><input type="text" name="age"><br><br>

<input type="submit" value="Submit">
</form>
</div>
